version: "3.9"

services:

  node-app:
    container_name: devops-node-app

    build:
      context: ./app

    ports:
      - "3000:3000"

    volumes:
      - ./app:/app
      - /app/node_modules

    env_file:
    - ./app/.env

    